@charset "UTF-8";

/*
--------------------------------------------------------------------------
01. .slider
02. .thumbnails
--------------------------------------------------------------------------
*/

/* 01. .slider
---------------------------------------------------	*/
.slider{
    margin:5px;
    position:relative;
    width:400px;
    height:250px;
    overflow:hidden;
}

.slider p{
    margin:0;
    padding:0;
    position:absolute;
    width:400px;
    height:250px;
    background:#336699;
    font-size:6em;
    color:#fff;
    line-height:250px;
    text-align:center;
}

.controller{
    margin:5px;
    padding:0;
    width:400px;
}

@media screen and (max-width: 400px){
	.slider,
    .controller{
        margin:2%;
        width:96%;
    }
    .slider p{
        width:100%;
        font-size:4em;
    }
}

/* 02. .thumbnails
---------------------------------------------------	*/
.thumbnails{
    margin:0;
    padding:0;
    display:inline-block;
}

.thumbnails li,
.pre,
.next{
    margin-bottom:5px;
    display:inline-block;
    width:76px;
    height:40px;
    list-style:none;
    background:#336699;
    color:#fff;
    line-height:40px;
    font-size:14px;
    text-align:center;
    cursor:pointer;
}